.cart {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #cacaca;
}

/* columnName */
.cart .columnName {
    display: grid;
    grid-template-columns: 3.5fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border: 1px solid #e7e7e7;
    padding: 15px 75px 15px 35px;
    color: #282828;
    box-sizing: border-box;
}

/* cartProduct */
.cartProduct {
    margin-top: 30px;
    background-color: #e4e4e4;
    padding: 20px;
}

/* cartProductItem */
.cartProductItem {
    display: grid;
    grid-template-columns: 3.5fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center; 
    background-color: #ffffff;
    padding: 20px 55px 20px 15px;
    margin: 15px 0;
}

.cartProductItem button {
    border: none;
    cursor:pointer;
    background-color: #ffffff;
    font-size: 17px;
}

.cartProductItem button:hover {
    color: #ea0000;
}

.quantity {
   font-size: 20px;
}

.cartProductBasic {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center; 
}

.cartProductBasic img {
    width: 80px;
    height: 80px;
}

/* checkoutConfirm */
.checkoutConfirm {
    margin-top: 30px;
    border: 1px solid #e7e7e7;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr ;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    padding: 15px 15px 15px 0;
    color: #282828;
}

.checkoutConfirm button {
    display: block;
    width: 150px;
    padding: 10px 5px;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #e56051;
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.sellectAll {
    display: flex;
    align-items: center;
}

.sellectAll input {
    margin-right: 20px;
}

.sellectAll p {
    font-size: 20px;
}

