/* product */
.product {
    margin: 20px 0 0 0;
    padding-top: 30px;
    border-top: 1px solid #cacaca;
}

.product .wrap {
    display: flex;
}

.product .wrap .productImage {
    width: 50%;
}

.product .wrap .productImage .mainImage {
    width: 50%;
}

.product .wrap .productImage .mainImage img{
    width: 600px;
    height: 600px;
}

.product .wrap .productImage .smallImage {
    margin-top: 10px;
}

.product .wrap .productImage .smallImage button {
    border: none;
    background: #ffffff;
    cursor:pointer;
}

.product .wrap .productImage .smallImage img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.product .wrap .buyinfo {
    box-sizing: border-box;
    width: 50%;
    padding: 0 50px;
}

.product .wrap .buyinfo h1{
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 5px;
}

.product .wrap .buyinfo h2{
    margin-top: 20px;
    font-size: 28px;
}

.product .wrap .buyinfo h3{
    margin-top: 20px;
}

.product .wrap .buyinfo select{
    margin-top: 20px;
    width: 250px;
    font-size: 15px;
    color: #656565;
    padding: 10px 5px;
    border: 1px solid #cacaca;
}

.product .wrap .buyinfo select:hover{
    border: 1px solid #0c6090;
}

.product .wrap .buyinfo input {
    display: block;
    margin-top: 15px;
    width: 150px;
    padding: 10px 5px;
    font-size: 15px;
    color: #656565;
    border: 1px solid #cacaca;
}

.product .wrap .buyinfo .buynow {
    display: block;
    margin-top: 30px;
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #e56051;
    border: none;
    border-radius: 4px;
}

.product .wrap .buyinfo .buynow:hover {
    background-color: #d15c4f;
}

.product .wrap .buyinfo .cart {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
    color: #727272;
    letter-spacing: 1px;
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
}

.product .wrap .buyinfo .cart:hover {
    background-color: #dadada;
}

.product .wrap .buyinfo p {
    margin: 20px 0;
    color: #4a4a4a;
}