.checkout {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #cacaca;
}

/* columnName */
.checkout .columnName {
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr;
    text-align: center;
    border: 1px solid #e7e7e7;
    padding: 15px 75px 15px 35px;
    color: #282828;
    box-sizing: border-box;
}

/* checkoutProduct */
.checkoutProduct {
    margin-top: 30px;
    background-color: #e4e4e4;
    padding: 20px;
}

/* cartProductItem */
.checkoutProductItem {
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center; 
    background-color: #ffffff;
    padding: 20px 55px 20px 15px;
    margin: 15px 0;
}

.checkoutProductBasic {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    text-align: center;
    align-items: center;
    width: 100%; 
}

.checkoutProductBasic img {
    width: 80px;
    height: 80px;
}

.quantity {
    font-size: 20px;
}

/* checkoutCheck */
.amount {
    margin-top: 30px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding: 15px 40px 15px 40px;
    color: #5b5b5b;
    text-align: end;
    font-size: 18px;
}

.amount p {
    margin: 20px 0;
}

.payMedhod {
    display: flex;
    justify-content: flex-end;
}

.payMedhod input {
    margin-left: 30px;
}

.checkoutCheck {
    text-align: -webkit-right;
}

.checkoutCheck button {
    margin-top: 20px;
    display: block;
    width: 150px;
    padding: 10px 5px;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #e56051;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    text-decoration:none;
    text-align: center;
}

