/* header */
.header {
    padding: 20px 10px;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
}

.header .search{
    display: flex;
    align-items: center;
}

.toInedx {
    margin-right: 10px;
    text-decoration: none;
    color: #000;  
    font-size: 18px;  
}


.header .search-bar {
    opacity: .5;
    font-size: 16px;
    width: 250px;
    padding: 5px 0px 5px 10px
}

.header .search-submit {
    width: 100px;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #0a5b8a;
    color: white;
    border:none;
    cursor:pointer;
}

.header .search-submit:hover{
    background-color: #084669;
}

.searchResultArea {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result {
    width: 260px;
    background-color: #ffff;
    border: none;
    padding: 10px 0 10px 10px;
    text-decoration: none;
    color: #525252;
    box-sizing: border-box;
}

.result:hover {
    background-color: #f4f4f4;
    cursor:pointer;
}

.header .userinfo{
    display: flex;
    align-items: center;
}

.header .userinfo .login-logout{
    border: 1px solid #cacaca;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 8px 18px;
    margin-right: 30px;
    border-radius: 3px;
    color: black;
    letter-spacing: 2px;
}

.header .userinfo .login-logout:hover{
    transition: .4s;
    background-color: #e7e7e7;
    color: #0a5b8a;
    border: 1px solid #0a5b8a;
}

.header .userinfo .shopping-cart{
    color: #000;
    font-size: 20px;
}

.userIcon {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2px 0;
    margin-right: 30px;
    color: black;
    letter-spacing: 2px;
}

.userIcon img{
    border-radius: 50%;
    margin-right: 10px;
}

.userIcon p{
    font-size: 16px;
    display: inline-block;
}